<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dky.website.business.mapper.FrontMenuMapper" >
  <resultMap id="BaseResultMap" type="com.dky.website.common.bean.FrontMenu" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_en_name" property="menuEnName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="classify" property="classify" jdbcType="VARCHAR" />
    <result column="img_url" property="imgUrl" jdbcType="VARCHAR" />
    <result column="ordered" property="ordered" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dky.website.common.bean.FrontMenu" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, menu_name,menu_en_name, parent_id, classify, img_url, ordered, create_time, update_time,
    status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_front_menu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_front_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dky.website.common.bean.FrontMenu" >
    insert into t_front_menu (id, type, menu_name, menu_en_name,
      parent_id, classify, img_url, 
      ordered, create_time, update_time, 
      status, content)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuEnName,jdbcType=VARCHAR},
      #{parentId,jdbcType=BIGINT}, #{classify,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{ordered,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dky.website.common.bean.FrontMenu" >
    insert into t_front_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
        <if test="menuEnName != null" >
            menu_en_name,
        </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="classify != null" >
        classify,
      </if>
      <if test="imgUrl != null" >
        img_url,
      </if>
      <if test="ordered != null" >
        ordered,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
        <if test="menuEnName != null" >
        #{menuEnName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="classify != null" >
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="ordered != null" >
        #{ordered,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dky.website.common.bean.FrontMenu" >
    update t_front_menu
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
        <if test="menuEnName != null" >
        menu_en_name = #{menuEnName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="classify != null" >
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="ordered != null" >
        ordered = #{ordered,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dky.website.common.bean.FrontMenu" >
    update t_front_menu
    set type = #{type,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_en_name = #{menuEn_Name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      classify = #{classify,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      ordered = #{ordered,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dky.website.common.bean.FrontMenu" >
    update t_front_menu
    set type = #{type,jdbcType=VARCHAR},
      menu_name = #{menuName,jdbcType=VARCHAR},
      menu_en_name = #{menuEnName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      classify = #{classify,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      ordered = #{ordered,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="query"  resultMap="ResultMapWithBLOBs" parameterType="com.dky.website.common.bean.FrontMenu" >
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from t_front_menu
        <include refid="whereClause"></include>
        <include refid="extendedOrderByClause"></include>
    </select>

    <sql id="whereClause">
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="type != null and ''!= type">and type = #{type}</if>
            <if test="classify != null and ''!= classify">and classify = #{classify}</if>
            <if test="menuName != null and ''!= menuName">and menu_name = #{menuName}</if>
            <if test="menuEnName != null and ''!= menuEnName">and menu_en_name = #{menuEnName}</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </sql>

    <!-- 扩展的排序等语句（自定义）-->
    <sql id="extendedOrderByClause">
        <if test="null!=extendedParameter">
            <if test="null!=extendedParameter.sidx and null!=extendedParameter.sord">ORDER BY ${extendedParameter.sidx}  ${extendedParameter.sord}   </if>
        </if>
    </sql>
</mapper>