<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxs.business.mapper.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.sxs.common.bean.Product" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="customerId" property="customerid" jdbcType="VARCHAR" />
    <result column="qycNum" property="qycnum" jdbcType="INTEGER" />
    <result column="hycNum" property="hycnum" jdbcType="INTEGER" />
    <result column="kcNum" property="kcnum" jdbcType="INTEGER" />
    <result column="qcNum" property="qcnum" jdbcType="INTEGER" />
    <result column="xwNum" property="xwnum" jdbcType="INTEGER" />
    <result column="ywNum" property="ywnum" jdbcType="INTEGER" />
    <result column="xbNum" property="xbnum" jdbcType="INTEGER" />
    <result column="twNum" property="twnum" jdbcType="INTEGER" />
    <result column="jkNum" property="jknum" jdbcType="INTEGER" />
    <result column="hdNum" property="hdnum" jdbcType="INTEGER" />
    <result column="xcNum" property="xcnum" jdbcType="INTEGER" />
    <result column="zdNum" property="zdnum" jdbcType="INTEGER" />
    <result column="xkNum" property="xknum" jdbcType="INTEGER" />
    <result column="kjkNum" property="kjknum" jdbcType="INTEGER" />
    <result column="sxfNum" property="sxfnum" jdbcType="INTEGER" />
    <result column="zhidNum" property="zhidnum" jdbcType="INTEGER" />
    <result column="xxfNum" property="xxfnum" jdbcType="INTEGER" />
    <result column="qxkNum" property="qxknum" jdbcType="INTEGER" />
    <result column="hbkNum" property="hbknum" jdbcType="INTEGER" />
    <result column="xjNum" property="xjnum" jdbcType="INTEGER" />
    <result column="xgNum" property="xgnum" jdbcType="INTEGER" />
    <result column="lwNum" property="lwnum" jdbcType="INTEGER" />
    <result column="tbActive" property="tbactive" jdbcType="SMALLINT" />
    <result column="ljActive" property="ljactive" jdbcType="SMALLINT" />
    <result column="pjActive" property="pjactive" jdbcType="SMALLINT" />
    <result column="txActive" property="txactive" jdbcType="SMALLINT" />
    <result column="lk1Active" property="lk1active" jdbcType="SMALLINT" />
    <result column="lk2Active" property="lk2active" jdbcType="SMALLINT" />
    <result column="lk3Active" property="lk3active" jdbcType="SMALLINT" />
    <result column="hzkcActive" property="hzkcactive" jdbcType="SMALLINT" />
    <result column="lbkcActive" property="lbkcactive" jdbcType="SMALLINT" />
    <result column="orderStatus" property="orderstatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customerId, qycNum, hycNum, kcNum, qcNum, xwNum, ywNum, xbNum, twNum, jkNum, 
    hdNum, xcNum, zdNum, xkNum, kjkNum, sxfNum, zhidNum, xxfNum, qxkNum, hbkNum, xjNum, 
    xgNum, lwNum, tbActive, ljActive, pjActive, txActive, lk1Active, lk2Active, lk3Active, 
    hzkcActive, lbkcActive, orderStatus, status, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sxs.common.bean.Product" >
    insert into t_product (id, customerId, qycNum, 
      hycNum, kcNum, qcNum, 
      xwNum, ywNum, xbNum, 
      twNum, jkNum, hdNum, 
      xcNum, zdNum, xkNum, 
      kjkNum, sxfNum, zhidNum, 
      xxfNum, qxkNum, hbkNum, 
      xjNum, xgNum, lwNum, 
      tbActive, ljActive, pjActive, 
      txActive, lk1Active, lk2Active, 
      lk3Active, hzkcActive, lbkcActive, 
      orderStatus, status, createTime, 
      updateTime)
    values (#{id,jdbcType=BIGINT}, #{customerid,jdbcType=VARCHAR}, #{qycnum,jdbcType=INTEGER}, 
      #{hycnum,jdbcType=INTEGER}, #{kcnum,jdbcType=INTEGER}, #{qcnum,jdbcType=INTEGER}, 
      #{xwnum,jdbcType=INTEGER}, #{ywnum,jdbcType=INTEGER}, #{xbnum,jdbcType=INTEGER}, 
      #{twnum,jdbcType=INTEGER}, #{jknum,jdbcType=INTEGER}, #{hdnum,jdbcType=INTEGER}, 
      #{xcnum,jdbcType=INTEGER}, #{zdnum,jdbcType=INTEGER}, #{xknum,jdbcType=INTEGER}, 
      #{kjknum,jdbcType=INTEGER}, #{sxfnum,jdbcType=INTEGER}, #{zhidnum,jdbcType=INTEGER}, 
      #{xxfnum,jdbcType=INTEGER}, #{qxknum,jdbcType=INTEGER}, #{hbknum,jdbcType=INTEGER}, 
      #{xjnum,jdbcType=INTEGER}, #{xgnum,jdbcType=INTEGER}, #{lwnum,jdbcType=INTEGER}, 
      #{tbactive,jdbcType=SMALLINT}, #{ljactive,jdbcType=SMALLINT}, #{pjactive,jdbcType=SMALLINT}, 
      #{txactive,jdbcType=SMALLINT}, #{lk1active,jdbcType=SMALLINT}, #{lk2active,jdbcType=SMALLINT}, 
      #{lk3active,jdbcType=SMALLINT}, #{hzkcactive,jdbcType=SMALLINT}, #{lbkcactive,jdbcType=SMALLINT}, 
      #{orderstatus,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sxs.common.bean.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="customerid != null" >
        customerId,
      </if>
      <if test="qycnum != null" >
        qycNum,
      </if>
      <if test="hycnum != null" >
        hycNum,
      </if>
      <if test="kcnum != null" >
        kcNum,
      </if>
      <if test="qcnum != null" >
        qcNum,
      </if>
      <if test="xwnum != null" >
        xwNum,
      </if>
      <if test="ywnum != null" >
        ywNum,
      </if>
      <if test="xbnum != null" >
        xbNum,
      </if>
      <if test="twnum != null" >
        twNum,
      </if>
      <if test="jknum != null" >
        jkNum,
      </if>
      <if test="hdnum != null" >
        hdNum,
      </if>
      <if test="xcnum != null" >
        xcNum,
      </if>
      <if test="zdnum != null" >
        zdNum,
      </if>
      <if test="xknum != null" >
        xkNum,
      </if>
      <if test="kjknum != null" >
        kjkNum,
      </if>
      <if test="sxfnum != null" >
        sxfNum,
      </if>
      <if test="zhidnum != null" >
        zhidNum,
      </if>
      <if test="xxfnum != null" >
        xxfNum,
      </if>
      <if test="qxknum != null" >
        qxkNum,
      </if>
      <if test="hbknum != null" >
        hbkNum,
      </if>
      <if test="xjnum != null" >
        xjNum,
      </if>
      <if test="xgnum != null" >
        xgNum,
      </if>
      <if test="lwnum != null" >
        lwNum,
      </if>
      <if test="tbactive != null" >
        tbActive,
      </if>
      <if test="ljactive != null" >
        ljActive,
      </if>
      <if test="pjactive != null" >
        pjActive,
      </if>
      <if test="txactive != null" >
        txActive,
      </if>
      <if test="lk1active != null" >
        lk1Active,
      </if>
      <if test="lk2active != null" >
        lk2Active,
      </if>
      <if test="lk3active != null" >
        lk3Active,
      </if>
      <if test="hzkcactive != null" >
        hzkcActive,
      </if>
      <if test="lbkcactive != null" >
        lbkcActive,
      </if>
      <if test="orderstatus != null" >
        orderStatus,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="qycnum != null" >
        #{qycnum,jdbcType=INTEGER},
      </if>
      <if test="hycnum != null" >
        #{hycnum,jdbcType=INTEGER},
      </if>
      <if test="kcnum != null" >
        #{kcnum,jdbcType=INTEGER},
      </if>
      <if test="qcnum != null" >
        #{qcnum,jdbcType=INTEGER},
      </if>
      <if test="xwnum != null" >
        #{xwnum,jdbcType=INTEGER},
      </if>
      <if test="ywnum != null" >
        #{ywnum,jdbcType=INTEGER},
      </if>
      <if test="xbnum != null" >
        #{xbnum,jdbcType=INTEGER},
      </if>
      <if test="twnum != null" >
        #{twnum,jdbcType=INTEGER},
      </if>
      <if test="jknum != null" >
        #{jknum,jdbcType=INTEGER},
      </if>
      <if test="hdnum != null" >
        #{hdnum,jdbcType=INTEGER},
      </if>
      <if test="xcnum != null" >
        #{xcnum,jdbcType=INTEGER},
      </if>
      <if test="zdnum != null" >
        #{zdnum,jdbcType=INTEGER},
      </if>
      <if test="xknum != null" >
        #{xknum,jdbcType=INTEGER},
      </if>
      <if test="kjknum != null" >
        #{kjknum,jdbcType=INTEGER},
      </if>
      <if test="sxfnum != null" >
        #{sxfnum,jdbcType=INTEGER},
      </if>
      <if test="zhidnum != null" >
        #{zhidnum,jdbcType=INTEGER},
      </if>
      <if test="xxfnum != null" >
        #{xxfnum,jdbcType=INTEGER},
      </if>
      <if test="qxknum != null" >
        #{qxknum,jdbcType=INTEGER},
      </if>
      <if test="hbknum != null" >
        #{hbknum,jdbcType=INTEGER},
      </if>
      <if test="xjnum != null" >
        #{xjnum,jdbcType=INTEGER},
      </if>
      <if test="xgnum != null" >
        #{xgnum,jdbcType=INTEGER},
      </if>
      <if test="lwnum != null" >
        #{lwnum,jdbcType=INTEGER},
      </if>
      <if test="tbactive != null" >
        #{tbactive,jdbcType=SMALLINT},
      </if>
      <if test="ljactive != null" >
        #{ljactive,jdbcType=SMALLINT},
      </if>
      <if test="pjactive != null" >
        #{pjactive,jdbcType=SMALLINT},
      </if>
      <if test="txactive != null" >
        #{txactive,jdbcType=SMALLINT},
      </if>
      <if test="lk1active != null" >
        #{lk1active,jdbcType=SMALLINT},
      </if>
      <if test="lk2active != null" >
        #{lk2active,jdbcType=SMALLINT},
      </if>
      <if test="lk3active != null" >
        #{lk3active,jdbcType=SMALLINT},
      </if>
      <if test="hzkcactive != null" >
        #{hzkcactive,jdbcType=SMALLINT},
      </if>
      <if test="lbkcactive != null" >
        #{lbkcactive,jdbcType=SMALLINT},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sxs.common.bean.Product" >
    update t_product
    <set >
      <if test="customerid != null" >
        customerId = #{customerid,jdbcType=VARCHAR},
      </if>
      <if test="qycnum != null" >
        qycNum = #{qycnum,jdbcType=INTEGER},
      </if>
      <if test="hycnum != null" >
        hycNum = #{hycnum,jdbcType=INTEGER},
      </if>
      <if test="kcnum != null" >
        kcNum = #{kcnum,jdbcType=INTEGER},
      </if>
      <if test="qcnum != null" >
        qcNum = #{qcnum,jdbcType=INTEGER},
      </if>
      <if test="xwnum != null" >
        xwNum = #{xwnum,jdbcType=INTEGER},
      </if>
      <if test="ywnum != null" >
        ywNum = #{ywnum,jdbcType=INTEGER},
      </if>
      <if test="xbnum != null" >
        xbNum = #{xbnum,jdbcType=INTEGER},
      </if>
      <if test="twnum != null" >
        twNum = #{twnum,jdbcType=INTEGER},
      </if>
      <if test="jknum != null" >
        jkNum = #{jknum,jdbcType=INTEGER},
      </if>
      <if test="hdnum != null" >
        hdNum = #{hdnum,jdbcType=INTEGER},
      </if>
      <if test="xcnum != null" >
        xcNum = #{xcnum,jdbcType=INTEGER},
      </if>
      <if test="zdnum != null" >
        zdNum = #{zdnum,jdbcType=INTEGER},
      </if>
      <if test="xknum != null" >
        xkNum = #{xknum,jdbcType=INTEGER},
      </if>
      <if test="kjknum != null" >
        kjkNum = #{kjknum,jdbcType=INTEGER},
      </if>
      <if test="sxfnum != null" >
        sxfNum = #{sxfnum,jdbcType=INTEGER},
      </if>
      <if test="zhidnum != null" >
        zhidNum = #{zhidnum,jdbcType=INTEGER},
      </if>
      <if test="xxfnum != null" >
        xxfNum = #{xxfnum,jdbcType=INTEGER},
      </if>
      <if test="qxknum != null" >
        qxkNum = #{qxknum,jdbcType=INTEGER},
      </if>
      <if test="hbknum != null" >
        hbkNum = #{hbknum,jdbcType=INTEGER},
      </if>
      <if test="xjnum != null" >
        xjNum = #{xjnum,jdbcType=INTEGER},
      </if>
      <if test="xgnum != null" >
        xgNum = #{xgnum,jdbcType=INTEGER},
      </if>
      <if test="lwnum != null" >
        lwNum = #{lwnum,jdbcType=INTEGER},
      </if>
      <if test="tbactive != null" >
        tbActive = #{tbactive,jdbcType=SMALLINT},
      </if>
      <if test="ljactive != null" >
        ljActive = #{ljactive,jdbcType=SMALLINT},
      </if>
      <if test="pjactive != null" >
        pjActive = #{pjactive,jdbcType=SMALLINT},
      </if>
      <if test="txactive != null" >
        txActive = #{txactive,jdbcType=SMALLINT},
      </if>
      <if test="lk1active != null" >
        lk1Active = #{lk1active,jdbcType=SMALLINT},
      </if>
      <if test="lk2active != null" >
        lk2Active = #{lk2active,jdbcType=SMALLINT},
      </if>
      <if test="lk3active != null" >
        lk3Active = #{lk3active,jdbcType=SMALLINT},
      </if>
      <if test="hzkcactive != null" >
        hzkcActive = #{hzkcactive,jdbcType=SMALLINT},
      </if>
      <if test="lbkcactive != null" >
        lbkcActive = #{lbkcactive,jdbcType=SMALLINT},
      </if>
      <if test="orderstatus != null" >
        orderStatus = #{orderstatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sxs.common.bean.Product" >
    update t_product
    set customerId = #{customerid,jdbcType=VARCHAR},
      qycNum = #{qycnum,jdbcType=INTEGER},
      hycNum = #{hycnum,jdbcType=INTEGER},
      kcNum = #{kcnum,jdbcType=INTEGER},
      qcNum = #{qcnum,jdbcType=INTEGER},
      xwNum = #{xwnum,jdbcType=INTEGER},
      ywNum = #{ywnum,jdbcType=INTEGER},
      xbNum = #{xbnum,jdbcType=INTEGER},
      twNum = #{twnum,jdbcType=INTEGER},
      jkNum = #{jknum,jdbcType=INTEGER},
      hdNum = #{hdnum,jdbcType=INTEGER},
      xcNum = #{xcnum,jdbcType=INTEGER},
      zdNum = #{zdnum,jdbcType=INTEGER},
      xkNum = #{xknum,jdbcType=INTEGER},
      kjkNum = #{kjknum,jdbcType=INTEGER},
      sxfNum = #{sxfnum,jdbcType=INTEGER},
      zhidNum = #{zhidnum,jdbcType=INTEGER},
      xxfNum = #{xxfnum,jdbcType=INTEGER},
      qxkNum = #{qxknum,jdbcType=INTEGER},
      hbkNum = #{hbknum,jdbcType=INTEGER},
      xjNum = #{xjnum,jdbcType=INTEGER},
      xgNum = #{xgnum,jdbcType=INTEGER},
      lwNum = #{lwnum,jdbcType=INTEGER},
      tbActive = #{tbactive,jdbcType=SMALLINT},
      ljActive = #{ljactive,jdbcType=SMALLINT},
      pjActive = #{pjactive,jdbcType=SMALLINT},
      txActive = #{txactive,jdbcType=SMALLINT},
      lk1Active = #{lk1active,jdbcType=SMALLINT},
      lk2Active = #{lk2active,jdbcType=SMALLINT},
      lk3Active = #{lk3active,jdbcType=SMALLINT},
      hzkcActive = #{hzkcactive,jdbcType=SMALLINT},
      lbkcActive = #{lbkcactive,jdbcType=SMALLINT},
      orderStatus = #{orderstatus,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>